.img_socios{
    width: 60%;
    height: 60%;
    border: 3px solid #7DCEA0;
}
.img_socios_presidente{
    width: 60%;
    height: 60%;
    border: 3px solid #7DCEA0;
}
.div_socios{
    text-align: center;
}
.div_socios1{
    text-align: center;
}
.div_socio_presiden{
    text-align: center;  
}
.icon_organigrama{
    width: 80px;
    text-align: center;
    

    
}

@media (max-width:767px){
    .icon_organigrama{
        margin-left: 250px;
    }
  }

  @media (max-width:565px){
    .icon_organigrama{
        margin-left: 210px;
    }
  }
  @media (max-width:565px){
    .icon_organigrama{
        margin-left: 190px;
    }
  }
  @media (max-width:425px){
    .icon_organigrama{
        margin-left: 150px;
    }
    .img_socios{
        width: 30%;
        height: 30%;
        border: 3px solid #7DCEA0;
    }
    .img_socios_presidente{
        width: 30%;
        height: 30%;
        border: 3px solid #7DCEA0;
    }
    .div_socios1{
        width: 200px;
        text-align: center;
        margin-left: 45px;
    }
    .div_socios{
     
        text-align: center;
    }

  }
  @media (max-width:393px){
    .img_socios{
        width: 30%;
        height: 30%;
        border: 3px solid #7DCEA0;
    }
    .img_socios_presidente{
        width: 30%;
        height: 30%;
        border: 3px solid #7DCEA0;
    }
    .div_socios1{
        width: 200px;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 2px;
    }
    .div_socios{
       margin-top: 2px;
        text-align: center;
    }
  }
  @media (max-width:428px){
    .img_socios{
        width: 30%;
        height: 30%;
        border: 3px solid #7DCEA0;
    }
    .img_socios_presidente{
        width: 30%;
        height: 30%;
        border: 3px solid #7DCEA0;
    }
    .div_socios1{
        width: 200px;
        text-align: center;
        margin-left: 80px;
        margin-bottom: 2px;
    }
    .div_socios{
        margin-top: 2px;
         text-align: center;
     }
  }
  @media (max-width:343px){
    .icon_organigrama{
        margin-left: 130px;
    }
  }
  @media (max-width:980px){
    .letras{
        font-size: 12px;
    }
  }
  @media (width:760px){
    .img_socios_presidente{
        width: 25%;
        height: 25%;
        border: 3px solid #7DCEA0;
    }
    .img_socios{
        width: 25%;
        height: 25%;
        border: 3px solid #7DCEA0;
    }
    .div_socios1{
        text-align: center;
        width: 200px;
    }
    .div-soc{
        border: 1px solid green;
        width: 200px;
    }

    
  }
  @media (max-width:283px){
    .icon_organigrama{
        margin-left: 100px;
    }
  }
  @media (max-width:221px){
    .icon_organigrama{
        margin-left: 80px;
    }
  }
  @media (max-width:762px){
    .ima-colabora{
        width: 300px;
    }
    .cont-ima{
        text-align: center;
    }
  }
  @media (max-width:360px){
    .letras{
        font-size: 18px;
    }
  }
  @media (max-width:762px){
    .contenedores-convenio{
        text-align: center;
    }
  }
 
